*{
  margin: 0;
  padding: 0;
}

.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
  height: 100vh;
}
.dashboard div button{
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: black;
  padding: 10px;
  color: white;
  margin: 10px;
  cursor: pointer;
}